@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", "sans-serif";
}

body {
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.input-group-senha {
    width: 50%;
    float: left;
    padding-right: 15px;
    margin-bottom: 20px;
    
    
}

.form-box {
    background-color: rgba(124, 114, 114, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
}

.form-box h2 {
    font-size: 30px;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D
}

.form-box p a{
    color: #FF008A;
    text-decoration: none;
}

.form-box form {
    margin: 30px 0;
}

form .input-group {
    margin-bottom: 35px;
}

form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background-color: #FF008A;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

form .input-group button:hover {
    background-color: #D6006C;
}

.form-box .input-group-senha {
    padding-right: 0;
}

.form-box .input-group-senha input {
    width: 100%;
}
.footer {
    background-color: black;
    text-align: center;
    padding: 16px;
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
}
